.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 1180px;
  width: 100%;
  background-color: white;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 271px;
  padding-bottom: 300px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 237px;
  gap: 10px;
  margin-bottom: 24px;
  position: relative;
}

.button-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 12px 0px 12px 0px;
  max-width: 237px;
  width: 100%;
  border: 1px solid #008aee;
  background-color: #008aee;
  color: white;
  filter: drop-shadow(0px 0px 0px rgba(0, 138, 238, 0.15));
  border-radius: 30px;
  cursor: pointer;
}

.list-menu {
  list-style: none;
  border-bottom: solid 1px #e0e0e0;
  border-top: solid 1px #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.list {
  display: flex;

  margin: 12px 0px 12px 0px;
  gap: 14px;
  cursor: pointer;
}

.questions-answers {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
  gap: 14px;
  cursor: pointer;
}

.list-menu-button {
  display: none;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #008aee;
  box-sizing: border-box;
}

.list:first-child {
  color: #008aee;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .container-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    margin-right: 24px;
  }

  .questions-answers {
    display: none;
  }

  .list-menu {
    display: none;
  }

  .button-wrapper {
    flex-direction: row;
    width: 100%;
    gap: 6px;
    margin-bottom: 0px;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    padding: 11px 0px 11px 0px;
  }

  .button-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 12px 14px 10px;
    max-width: 367px;
    width: 100%;
    background-color: #008aee;
    border: 1px solid #008aee;
    color: white;
    filter: drop-shadow(0px 0px 0px rgba(0, 138, 238, 0.15));
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
  }

  .list-menu-button {
    display: flex;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
  }
}
